<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zuoyun.pintuan">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity">

        </activity>
        <activity android:name=".withdrawSetting.SettingActivity" />
        <activity android:name=".withdrawSetting.WithdrawActivity" />
        <activity android:name=".withdrawSetting.AccountListActivity" />
        <activity android:name=".withdrawSetting.AccountDetailActivity"></activity>
        <activity android:name=".staffSend.StaffSendActivity" />
        <activity android:name=".staffSend.StaffActivity" />
        <activity android:name=".staffSend.AddStaffActivity" />
        <activity android:name=".staffSend.ShopActivity" />
        <activity android:name=".staffSend.AddShopActivity" />
    </application>

</manifest>